body {
    background-color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pageHeader {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
    
}

.shop {
    width: 400px;
    flex-basis: 30%;
    border: orange 2px dotted;
    padding: 1px 0px 1px 4px;
}
